*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(212, 211, 211);
}
.header{
    position: fixed;
    top:0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    height: 50px;
    right: 0;
    z-index: 1000;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 .searchfeild{
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    margin: 3px;
}
.searchbar{
    background-color: #e2e2e2;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid #dad7d7;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-facebook{
    padding: 5px;
    font-size: 30px;
    color: rgb(4, 155, 243);
}
.links{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.links a{
    text-decoration: none;
    color: #555;
    padding: 10px 60px 10px 60px;
    position: relative;
}
.links a  i{
  font-size: large;
}
 a:hover{
    color:#0d81eefa;
}
a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color:#0d81eefa; 
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: 0px 0px 15px rgb(23, 184, 212); 
}

a:hover::after {
    opacity: 1; 
}
a.current{
    color:#0d81eefa;
}
.img-wrapper img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
}
.actions{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
}
.actions i{
    font-size: 20px;
    padding: 5px;
}
.icon-wrapper{
    background-color: #b4b4b4;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 5px;
}
.content{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    
}
.user-info{
    display: flex;
    align-items: center;
    padding: 5px;
}

.exlore-top{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1.5px #a7a6a6;
    margin: 5px 5px 5px 10px;
}

.exlore-top img{
    width: 30px;
    height: 30px;
}
.icon-wrapp{
    background-color: rgb(212, 211, 211);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 5px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 25px;
    background-color: #b4b2b2;
    border-radius: 10px;
    margin-bottom: 15px;
}
.shortcuts{
    border-bottom: solid 1.5px #a7a6a6;
    box-sizing: border-box;
    margin: 5px 5px 5px 10px;
}
.shortcuts-wrap{
    display: flex;
    align-items: center;
    padding: 5px;
    
}
.shortcuts img{
    border-radius: 5px;
}

.Stories {
    display: flex;
    overflow-x: auto; 
    gap: 10px; 
    padding: 10px;
    border-bottom: 1px solid #ccc; 
}


.story-box {
    position: relative;
    width: 100px; 
}


 .story-box .story-wrapper {
    width: 30px; 
    height: 30px;
    border: 2px solid #d4d2d2; 
    border-radius: 50%; 
    overflow: hidden; 
    position: absolute;
    top: 4px;
    left: 4px;
}


.story-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.story-box img {
    width: 100%;
    height: 100px; 
    object-fit: cover;
    border-radius: 8px; 
}
